:root {
    --primary-color: rgb(58, 36, 70);
    --secondary-color:rgb(108, 46, 72);
    --complement-color: rgb(111, 75, 134);
    --background-color: rgb(123, 103, 149);
    --hover-background-color: rgb(187, 136, 161);
}


h1 {
    color: var(--primary-color);
    font-size: clamp(3rem, 5vw, 7rem); 
}
h2 {
    color: var(--complement-color);
    font-size: clamp(2rem, 4vw, 5rem);
}
p {
    color: var(--primary-color);
    font-size: clamp(1.5rem, 2.5vw, 4rem);
}
    font-size: clamp(3rem, 5vw, 7rem); 
}
h2 {
    font-size: clamp(2rem, 4vw, 5rem);
}

p {
    font-size: clamp(1.5rem, 2.5vw, 4rem);
}

h1, h2, p {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1.5rem, 2.5vw, 2rem); 
    text-decoration: double; 
    color: var(--secondary-color); 
    transition: color 0.3s, transform 0.3s;
}

a:hover {
    color: rgb(125, 101, 101);
    transform: scale(1.05);
}

div {
    background-color: var(--background-color); /* starting color */
    transform: scale(1);
    transition: 
        background-color 0.8s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
div:hover {
   background-color: rgb(187, 136, 161); 
    transform: scale(1.04); 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

body {
    background-color: var(--background-color)
}
