h1 {
    font-size: 5rem;
    color: rgb(69, 13, 13);
}
p {
    font-size: 3rem;
}
h1, p {
    font-family:Arial, Helvetica, sans-serif;
}

div {
    background-color:rgb(227, 170, 151);
    padding: 3em;

    border-radius: 3em;
}

body {
    background-color: rgb(54, 73, 63);
}
