h1 {
    font-size: clamp(3rem, 5vw, 7rem); 
    color: rgb(69, 13, 13);
}

h2 {
    font-size: clamp(2rem, 4vw, 5rem);
}

p {
    font-size: clamp(1.5rem, 2.5vw, 4rem);
}

h1, h2, p {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1.5rem, 2.5vw, 2rem); 
    text-decoration: double; 
    color: rgb(69, 13, 13); 
    transition: color 0.3s, transform 0.3s;
}

a:hover {
    color: rgb(125, 101, 101);
    transform: scale(1.05);
}

div {
    background-color: rgb(227, 170, 151);
    padding: 3em;
    border-radius: 3em;
    border: rgb(105, 102, 174) 1rem double;
}

body {
    background-color: rgb(54, 73, 63);
}
