* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    box-sizing: border-box;
    --primary-color:  rgb(104, 24, 197);
    --secondary-color: rgba(50,0,129,1);
    --complement-color: rgb(236, 181, 92);
    --background-color: rgb(38, 12, 76);
    --hover-background-color: rgba(38, 11, 65, 0.599);
    --light-accent-color: rgb(232, 255, 248);
    --dark-accent-color: rgba(34, 11, 51, 0.881);
    /*  rgb(193, 237, 221); */
}


*, html {
    scroll-behavior: smooth !important;
  
}


body {
    margin: auto auto;
    padding: 10px;
    background-color: var(--background-color);
    min-height: 100vh;
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.5;
    background-image: radial-gradient( circle farthest-corner at -5.6% -6.8%,  rgba(103,49,145,1) 37.3%, rgba(50,0,129,1) 73.5% );
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: var(--primary-color);
    font-size: clamp(5rem, 2vw, 10rem);
    line-height: 1.2;
    text-align: center;
    border-radius: 10px;
}

h2 {
    color: var(--complement-color);
    text-align: center;
    font-size: clamp(2rem, 4vw, 5rem);
}

p {
    color: var(--light-accent-color);
    font-size: clamp(1.1rem, 1.5vw, 2rem);
    margin-bottom: 1rem;
    line-height: 1.5;
        
    
}

h1, h2, p, a {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  
}

 section > ul > li, section, section > a {
    list-style-type: none;
    padding: 10px 20px;
    margin: 20px 5px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1.5rem, 2.5vw, 2rem); 
    text-decoration: double; 
    background: var(--complement-color);
    color: var(--primary-color);    
    transition: color 0.3s, transform 0.3s;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 25px 8px;
    display: inline-block;
}

 section > ul > li:hover, section > ul > li:focus, section > ul > li:active, section > a:hover, section > a:focus, section > a:active {
    color: var(--complement-color);
    background: var(--primary-color);
    transform: scale(1.05);
}

section > ul > li a {
    text-decoration: none;
    color: inherit;
    display: block;
}

section, footer {
    padding: 30px;
    margin: 20px 20px;
    border-radius: 10px;
    background-color: var(--dark-accent-color); 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transform: scale(1);
    transition: 
        background-color 0.8s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.row-layout {
    display: flex;
    padding: 5px 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @media (max-width: 800px) { 
        flex-direction: column-reverse;
        gap: 10px;
    }   

}

.col-layout {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 20px 10px;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-items: center; */
    /* align-content: center;  */
    gap: 5px;
}


.hero  {
    height: auto;
    border-radius: 10px;
    position: sticky;
    background-color: var(--dark-accent-color);
    top: 20px;
     box-shadow: 0 8px 16px rgba(0,0,0,0.2);
     transition: background-color 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 20px;
}


section:hover, img:hover {
   background-color: var(--hover-background-color); 
   transform: scale(1.02); 
   box-shadow: 4px 8px 16px rgba(37, 6, 71, 0.8);
}

img.header-img {
    width: 300px;
    margin: 40px 10px;
    height: auto;
    border-radius: 15px;
    border: 4px solid var(--light-accent-color);
    object-fit: contain;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

    @media (max-width: 768px) {
        width: 100%;
        max-width: 300px;
        min-width: 200px;
    }
}


.social-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
}

.social-links-text {
    flex-direction: column;
    color: var(--light-accent-color);
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 500;
    justify-self: center;
    align-self: center;
    align-self: center;
    align-items: center;
    align-content: center;
    min-width: 200px;
    padding: 10px;
}

.icon {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin: 10px 0px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.badge > li  {
    background-color: var(--complement-color);
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--light-accent-color);
    font-weight: 700;
    gap: 20px;
}



.badge > li:hover {
    background-color: var(--primary-color);
    color: var(--complement-color);
    transform: scale(1.05);
}

.footer {
    flex-direction: column;
    text-align: center;
    color: var(--complement-color);
    font-size: clamp(1rem, 2vw, 1.5rem);
}


.footer > a {
    font-weight: 900;
    color: var(--complement-color);
    text-decoration: none;
}

.footer > a:hover {
    color: var(--primary-color);
    text-decoration: none;

}