* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    box-sizing: border-box;
    --primary-color:  rgba(103,49,145,1);
    --secondary-color: rgba(50,0,129,1);
    --complement-color: rgb(236, 181, 92);
    --background-color: rgb(38, 12, 76);
    --hover-background-color: rgb(187, 136, 161);
    
}


body {
    margin: auto;
    min-height: 100vh;
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.5;
    background-image: radial-gradient( circle farthest-corner at -5.6% -6.8%,  rgba(103,49,145,1) 37.3%, rgba(50,0,129,1) 73.5% );
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; */
}

h1 {
    color: var(--primary-color);
    font-size: 4.5rem;
    line-height: 1.2;
}
h2 {
    color: var(--complement-color);
    font-size: clamp(2rem, 4vw, 5rem);
}
p {
    color: var(--primary-color);
    font-size: clamp(1.5rem, 2.5vw, 4rem);
}
    font-size: clamp(5rem, 5vw, 7rem); 
}
h2 {
    font-size: clamp(2rem, 4vw, 5rem);
}

p {
    font-size: clamp(1.5rem, 2.5vw, 4rem);
}

h1, h2, p {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1.5rem, 2.5vw, 2rem); 
    text-decoration: double; 
    background: var(--complement-color);
    color: var(--primary-color);    
    transition: color 0.3s, transform 0.3s;
    padding: 10px 20px;
     border-radius: 5px;
     display: inline-block;
}

a:hover {
    color: var(--complement-color);
     background: var(--primary-color);
    transform: scale(1.05);
}

section, footer, .row-layout {
    padding: 50px;
    margin: 50px;
    border-radius: 10px;
    background-color: white; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transform: scale(1);
    transition: 
        background-color 0.8s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.row-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


section:hover, footer:hover {
   background-color: var(--hover-background-color); 
   transform: scale(1.02); 
   box-shadow: 4px 8px 16px rgba(37, 6, 71, 0.8);
}


footer {
    flex-direction: column;
    text-align: center;
    color: var(--complement-color);
    font-size: clamp(1rem, 2vw, 1.5rem);
}